@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/OpenSans-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans Bold';
  src: url('../fonts/ClearSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}