/* FONT VARIABLES */
$fface-primary: 'Lato', sans-serif;
$fface-secondary: 'Open Sans', sans-serif;

$fsize-root:     16px; // ROOT FONT SIZE
$fsize-main:     1rem;
$fsize-title:    2.5rem;
$fsize-subtitle: 1.5rem;
$fsize-small:    0.75rem;
$fsize-xsmall:   0.5rem;

/* COLOR VARIABLES */
$color-text-main:       #3b3b3b;
$color-text-secondary:  #ffffff;
$color-text-form:       #9d9d9c;
$color-primary:         #3f82f0;
$color-secondary:       #0099df;
$color-accent: 		    	#124fb3;
$color-footer:          #182a53;
$color-alarm:           #e60000;

/* TRANSITIONS AND ANIMATIONS */
$delay-global: 300ms;

/* BREAKPOINTS */
$phablet-width: '578px';
$tablet-width: '768px';
$laptop-width: '1024px';
$desktop-width: '1200px';