@keyframes slide-left-to-right {
  0% {
    left: -150%;
  }
  75% {
    left: 10%;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-top-to-bottom {
  0% {
    top: -200%;
  }
  75% {
    top: 10%;
  }
  100% {
    top: 0;
  }
}