.form {
  margin: 0 auto;
  padding: 40px;
  max-width: $mobile-width;
  font-size: $fsize-main;
  background-color: $color-form;
  color: $color-text-main;
  @include phablet {
    border-radius: 10px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
  }

  &__group {
    border-radius: 5px;
  }

  &__element {
    display: block;
    margin-bottom: 5px;
  }

  &__hint {
    margin: 0 0 5px;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 1px solid $color-form-border;
    border-radius: 5px;
    background-color: lighten($color-form-border, 15);
    font-size: $fsize-small;
    color: $color-text-main;
    transition-duration: $delay-global;
    &:focus {
      background-color: white;
      outline: none;
      border: 1px solid $color-secondary;
      box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.6);
    }
  }

  &__select {
    @extend .form__input;
  }

  &__area {
    @extend .form__input;
    overflow: auto;
  }

  &__radio {
    margin: 2px;
  }
  
  &__radio-name {
    margin-bottom: 10px;
    font-size: $fsize-small;
  }

  &__button {
    margin: 0 auto;
    width: 100%;
    @include phablet {
      width: 200px;
    }
  }

  .alert {
    border: 1px solid $color-alarm;
    // &:focus {
    //   border: 1px solid $color-secondary;
    // }
  }

  .success {
    background-color: white;   
    border: 1px solid $color-success;
    border-radius: 5px;    
    // &:focus {
    //   border: 1px solid $color-secondary;
    // }
  }

  .validate-error {
    font-size: $fsize-xsmall;
    color: $color-alarm;
  }
}