/* HELPERS, MIXINS, ANIMATIONS */
/* FONT VARIABLES */
/* COLOR VARIABLES */
/* TRANSITIONS AND ANIMATIONS */
/* BREAKPOINTS */
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans-v15-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v14-latin-regular.woff2") format("woff2"), url("../fonts/lato-v14-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v14-latin-700.woff2") format("woff2"), url("../fonts/lato-v14-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@-webkit-keyframes slide-left-to-right {
  0% {
    left: -150%; }
  75% {
    left: 10%; }
  100% {
    left: 0; } }

@keyframes slide-left-to-right {
  0% {
    left: -150%; }
  75% {
    left: 10%; }
  100% {
    left: 0; } }

@-webkit-keyframes slide-top-to-bottom {
  0% {
    top: -200%; }
  75% {
    top: 10%; }
  100% {
    top: 0; } }

@keyframes slide-top-to-bottom {
  0% {
    top: -200%; }
  75% {
    top: 10%; }
  100% {
    top: 0; } }

/* COMMON STYLES */
html {
  font-size: 14px; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: -webkit-gradient(linear, left top, right bottom, from(#0099df), to(#79d5ff));
  background: linear-gradient(to right bottom, #0099df, #79d5ff); }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  min-height: 100vh; }

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  @media (min-width: 578px) {
    .main {
      padding: 40px 20px; } }

/* COMPONENTS */
.header {
  padding: 20px 10px;
  background-color: #182a53; }
  .header__title {
    margin: 0;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: white; }

.footer {
  padding: 6px 10px;
  background-color: #124fb3;
  color: white; }
  @media (min-width: 578px) {
    .footer {
      width: 180px;
      border-top-right-radius: 10px; } }
  .footer__copyright {
    margin: 0;
    font-size: 12px; }

/* BLOCKS*/
.button {
  display: block;
  padding: 10px 25px;
  cursor: pointer;
  background-color: #3f82f0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms; }
  .button:hover {
    background-color: #124fb3; }
  .button:focus {
    outline: none;
    border: 1ps solid #0099df;
    background-color: #124fb3; }
  .button:active {
    background-color: #0d3b85; }

.form {
  margin: 0 auto;
  padding: 40px;
  max-width: 480px;
  font-size: 16px;
  background-color: white;
  color: #3b3b3b; }
  @media (min-width: 578px) {
    .form {
      border-radius: 10px; } }
  .form__label {
    display: block;
    margin-bottom: 20px; }
  .form__group {
    border-radius: 5px; }
  .form__element {
    display: block;
    margin-bottom: 5px; }
  .form__hint {
    margin: 0 0 5px; }
  .form__input, .form__select, .form__area {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #3b3b3b;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms; }
    .form__input:focus, .form__select:focus, .form__area:focus {
      background-color: white;
      outline: none;
      border: 1px solid #0099df;
      -webkit-box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.6);
              box-shadow: 0 0 4px 0 rgba(70, 70, 70, 0.6); }
  .form__area {
    overflow: auto; }
  .form__radio {
    margin: 2px; }
  .form__radio-name {
    margin-bottom: 10px;
    font-size: 14px; }
  .form__button {
    margin: 0 auto;
    width: 100%; }
    @media (min-width: 578px) {
      .form__button {
        width: 200px; } }
  .form .alert {
    border: 1px solid #e60000; }
  .form .success {
    background-color: white;
    border: 1px solid #008100;
    border-radius: 5px; }
  .form .validate-error {
    font-size: 12px;
    color: #e60000; }

.modal {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal__box {
    position: relative;
    max-width: 90%;
    min-height: 100px;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    -webkit-animation: slide-top-to-bottom 1s;
            animation: slide-top-to-bottom 1s; }
    @media (min-width: 578px) {
      .modal__box {
        max-width: 400px; } }
  .modal__content {
    padding: 40px 20px 20px;
    text-align: center; }
  .modal__title {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px; }
  .modal__text {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 16px; }
  .modal__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer; }
    .modal__btn-close .btn-fill {
      fill: #3f82f0;
      -webkit-transition-duration: 300ms;
              transition-duration: 300ms; }
    .modal__btn-close:hover .btn-fill {
      fill: #124fb3; }
  .modal.isVisible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
