.header {
	padding: 20px 10px;
	background-color: $color-footer;

	&__title {
		margin: 0;
		text-align: center;
		font-family: $fface-secondary;
		font-size: $fsize-title;
		color: $color-text-secondary;
	}
}