html {
  font-size: $fsize-root;
}

body {
  margin: 0;
  font-family: $fface-primary;
  background: linear-gradient(to right bottom, $color-secondary, lighten($color-secondary, 30)); 
}

.page {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}